---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=UZhX3PH7GpmKmo7KI5YOAQgbjZGGPlPs&client_secret=LtNwNFrqga7wSO9s
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0f580ad35f0ddb9d5-b-eu-19359-8752325-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"joebud3@gmail.com\",\n            \"application_name\": \"news-engine\",\n
        \           \"client_id\": \"UZhX3PH7GpmKmo7KI5YOAQgbjZGGPlPs\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"Pbxmj5xeyh584KZPU4YAyfPwMFjE\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 10 Jun 2021 22:38:48 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departureDate=2021-06-17&destinationLocationCode=NYC&originLocationCode=LAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Pbxmj5xeyh584KZPU4YAyfPwMFjE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 00012F6W0UIC8P
      Ama-Gateway-Request-Id:
      - rrt-00bb73b7fb8dbc5d9-c-eu-19304-8539756-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":138,"links":{"self":"https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode=LAX&destinationLocationCode=NYC&departureDate=2021-06-17&adults=1"}},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2021-06-11","numberOfBookableSeats":4,"itineraries":[{"duration":"PT9H45M","segments":[{"departure":{"iataCode":"LAX","terminal":"5","at":"2021-06-17T07:00:00"},"arrival":{"iataCode":"AUS","at":"2021-06-17T11:59:00"},"carrierCode":"NK","number":"598","aircraft":{"code":"32N"},"operating":{"carrierCode":"NK"},"duration":"PT2H59M","id":"180","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"AUS","at":"2021-06-17T15:10:00"},"arrival":{"iataCode":"EWR","terminal":"B","at":"2021-06-17T19:45:00"},"carrierCode":"NK","number":"2308","aircraft":{"code":"32A"},"operating":{"carrierCode":"NK"},"duration":"PT3H35M","id":"181","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"EUR","total":"92.19","base":"68.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"92.19"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":false},"validatingAirlineCodes":["NK"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"EUR","total":"92.19","base":"68.00"},"fareDetailsBySegment":[{"segmentId":"180","cabin":"ECONOMY","fareBasis":"UA7NR","class":"U","includedCheckedBags":{"quantity":0}},{"segmentId":"181","cabin":"ECONOMY","fareBasis":"UA7NR","class":"U","includedCheckedBags":{"quantity":0}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2021-06-11","numberOfBookableSeats":4,"itineraries":[{"duration":"PT10H11M","segments":[{"departure":{"iataCode":"LAX","terminal":"5","at":"2021-06-17T06:00:00"},"arrival":{"iataCode":"ORD","terminal":"3","at":"2021-06-17T12:05:00"},"carrierCode"[...]
