---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=UZhX3PH7GpmKmo7KI5YOAQgbjZGGPlPs&client_secret=LtNwNFrqga7wSO9s
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-03a66cebef13e8385-b-eu-5091-1753385487-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"joebud3@gmail.com\",\n            \"application_name\": \"news-engine\",\n
        \           \"client_id\": \"UZhX3PH7GpmKmo7KI5YOAQgbjZGGPlPs\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"rpCRGRGe0hp5GUrEtgQOR0sGUO2r\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Wed, 09 Jun 2021 21:01:14 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departureDate=2021-06-17&destinationLocationCode=LAX&originLocationCode=NYC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rpCRGRGe0hp5GUrEtgQOR0sGUO2r
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001KJSPBUGD23
      Ama-Gateway-Request-Id:
      - rrt-03a66cebef13e8385-b-eu-5091-1753385592-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":145,"links":{"self":"https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode=NYC&destinationLocationCode=LAX&departureDate=2021-06-17&adults=1"}},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2021-06-09","numberOfBookableSeats":9,"itineraries":[{"duration":"PT9H29M","segments":[{"departure":{"iataCode":"EWR","terminal":"A","at":"2021-06-17T12:20:00"},"arrival":{"iataCode":"FLL","terminal":"3","at":"2021-06-17T15:21:00"},"carrierCode":"B6","number":"1305","aircraft":{"code":"320"},"operating":{"carrierCode":"B6"},"duration":"PT3H1M","id":"122","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"FLL","terminal":"3","at":"2021-06-17T16:25:00"},"arrival":{"iataCode":"LAX","terminal":"5","at":"2021-06-17T18:49:00"},"carrierCode":"B6","number":"1301","aircraft":{"code":"32S"},"operating":{"carrierCode":"B6"},"duration":"PT5H24M","id":"123","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"EUR","total":"87.89","base":"64.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"87.89"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":false},"validatingAirlineCodes":["B6"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"EUR","total":"87.89","base":"64.00"},"fareDetailsBySegment":[{"segmentId":"122","cabin":"ECONOMY","fareBasis":"PL7QBEL1","brandedFare":"DN","class":"L","includedCheckedBags":{"quantity":0}},{"segmentId":"123","cabin":"ECONOMY","fareBasis":"PL7ABEL1","brandedFare":"DN","class":"L","includedCheckedBags":{"quantity":0}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2021-06-09","numberOfBookableSeats":9,"itineraries":[{"duration":"PT10H29M","segments":[{"departure":{"iataCode":"EWR","terminal":"A","at":"2021-06-17T11:20:00"},"arrival":{"iataCode":"FLL","terminal":"3","at":"2021-06-17T14[...]
